# Compiled output
**/dist/
node_modules/
**/node_modules/

# Environment variables
.env
config/.env
**/config/.env
**/.env
*.env

# NestJS specific
**/npm-debug.log
**/yarn-error.log
**/lerna-debug.log
.nestcli.json

# IDEs and editors
.idea/
.vscode/
**/ .idea/
**/ .vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific files
.DS_Store
Thumbs.db

# Project specific
**/config_start.txt
backend.txt
example.http
